@import '../globals.scss';

$inputs: (
  height: 3em,
  line-height: 2em,
  font-size: 16px,
  transition: all .2s cubic-bezier(.645, .045, .355, 1),
  border-bottom: 1px solid $light,
  border-bottom-activated: 1px solid $primary,
  border-bottom-activated-strong: 2px solid $primary,
  field-height: 2em,
  label-transform: translate(0, -1.4em) scale(.7),
  error-color: $danger,
  slot-spacing: 5px,
) !default;

@function input-attr($attr) {
  @return var(--pure-input-#{$attr}, map-get($inputs, $attr));
}

.pure-input {
  position: relative;
  
  height: map-get($inputs, height);
  height: input-attr(height);
  line-height: map-get($inputs, line-height);
  line-height: input-attr(line-height);
  font-size: map-get($inputs, font-size);
  font-size: input-attr(font-size);
  border-bottom: map-get($inputs, border-bottom);
  border-bottom: input-attr(border-bottom);

  label {
    transition: map-get($inputs, transition);
    transition: input-attr(transition);
    font-size: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    transform-origin: top left;
  }

  ._content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    height: map-get($inputs, field-height);
    height: input-attr(field-height);
  }

  input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: inherit;
    flex: 1;
    height: 100%;
  }

  &:before,
  &:after {
    transition: map-get($inputs, transition);
    transition: input-attr(transition);
    content: "\00a0";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    margin-left: 50%;
  }

  &:before {
    border-bottom: map-get($inputs, border-bottom-activated);
    border-bottom: input-attr(border-bottom-activated);
  }

  &:after {
    border-bottom: map-get($inputs, border-bottom-activated-strong);
    border-bottom: input-attr(border-bottom-activated-strong);
  }

  &._focus,
  &._filling {
    label {
      transform: map-get($inputs, label-transform);
      transform: input-attr(label-transform);
    }
  }

  &._filling:before {
    width: 100%;
    margin-left: 0%;
  }

  &._focus:after {
    width: 100%;
    margin-left: 0%;
  }

  ._right {
    display: flex;
    align-items: center;

    ._slot,
    ._error {
      margin-left: map-get($inputs, slot-spacing);
      margin-left: input-attr(slot-spacing);
    }

    ._error {
      color: map-get($inputs, error-color);
      color: input-attr(error-color);
    }
  }
}