$rate-animate-transition: all 0.2 cubic-bezier(0.645, 0.045, 0.355, 1);
$rate-hover-transform: scale(1.2);

.pure-rate._animate .pure-rate-item div {
  transition: $rate-animate-transition;
  transition: var(--pure-rate-animate-transition, $rate-animate-transition);
  cursor: pointer;
  &:hover {
    transform: $rate-hover-transform;
    transform: var(--pure-rate-hover-transform, $rate-hover-transform);
  }
}