@import '../globals.scss';

$textareas: (
  line-height: 2em,
  font-size: 16px,
  transition: all .2s cubic-bezier(.645, .045, .355, 1),
  label-transform: translate(0, -1.4em) scale(.7),
  border-bottom: 1px solid $light,
  border-bottom-activated: 1px solid $primary,
  border-bottom-activated-strong: 2px solid $primary,
  error-color: $danger,
) !default;

@function textarea-attr($attr) {
  @return var(--pure-textarea-#{$attr}, map-get($textareas, $attr));
}

$textarea-pd: 20px !default;
.pure-textarea {
  position: relative;
  line-height: map-get($textareas, line-height);
  line-height: textarea-attr(line-height);
  font-size: map-get($textareas, font-size);
  font-size: textarea-attr(font-size);
  border-bottom: map-get($textareas, border-bottom);
  border-bottom: textarea-attr(border-bottom);

  label {
    transition: map-get($textareas, transition);
    transition: textarea-attr(transition);
    font-size: inherit;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    transform-origin: top left;
  }

  textarea {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: inherit;
    display: block;
  }

  ._bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    ._slot,
    ._error {
      flex: 1;
    }
    ._error {
      color: map-get($textareas, error-color);
      color: textarea-attr(error-color);
      text-align: right;
    }
  }

  &:before,
  &:after {
    transition: map-get($textareas, transition);
    transition: textarea-attr(transition);
    content: "\00a0";
    display: block;
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 0%;
    margin-left: 50%;
  }

  &:before {
    border-bottom: map-get($textareas, border-bottom-activated);
    border-bottom: textarea-attr(border-bottom-activated);
  }

  &:after {
    border-bottom: map-get($textareas, border-bottom-activated-strong);
    border-bottom: textarea-attr(border-bottom-activated-strong);
  }

  &._focus,
  &._filling {
    label {
      transform: map-get($textareas, label-transform);
      transform: textarea-attr(label-transform);
    }
  }

  &._filling:before {
    width: 100%;
    margin-left: 0%;
  }

  &._focus:after {
    width: 100%;
    margin-left: 0%;
  }
}