@import './vars.scss';

.pure-pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  color: map-get($pages, color);
  color: page-attr(color);

  .link,
  a {
    display: inline-block;
    margin: 0 2px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    background: map-get($pages, background);
    background: page-attr(background);

    &._active {
      background: map-get($pages, color);
      background: page-attr(color);
      color: map-get($pages, background);
      color: page-attr(background);
    }

    &:hover {
      opacity: map-get($pages, opacity-hover);
      opacity: page-attr(opacity-hover);
    }
  }

  ._ellipsis {
    background-color: transparent;
  }

  ._disabled {
    pointer-events: none;
  }
}