@import '../themes/globals.scss';

$pages: (
  color: $primary,
  background: $light,
  opacity-hover: .8,
  item-size: 30px,
  
) !default;

@function page-attr($attr) {
  @return var(--pure-modal-#{$attr}, map-get($pages, $attr));
}