@import '../../style/vars.scss';

$buttons: (
  margin: 2px 4px,
  padding: 0 1em,
  height: 2.8em,
  border-radius: 10px,
  font-size: 16px,
  opacity-hover: .8,
  opacity-disabled: .5,
  transition: (background-color, opacity 100ms linear),

  large-padding: 0 1em,
  large-height: 2.8em,
  large-border-radius: 12px,
  large-font-size: 20px,

  small-padding: 0 .9em,
  small-height: 2.1em,
  small-border-radius: 6px,
  small-font-size: 13px,
) !default;

.crude-button {
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: auto;

  font-family: $font-family-base;

  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;

  white-space: nowrap;

  user-select: none;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  pointer-events: auto;

  font-kerning: none;
  font-weight: 500;

  line-height: 1;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-image: none;
  
  transition: map-get($buttons, transition);
  margin: map-get($buttons, margin);
  padding: map-get($buttons, padding);
  height: map-get($buttons, height);
  border-radius: map-get($buttons, border-radius);
  font-size: map-get($buttons, font-size);

  &._full, &._block {
    display: block;
    display: flex;
    width: 100%;
    contain: content;
  }

  &._full {
    border-radius: 0;
  }
  
  // handle colors
  @each $name, $value in $colors {
    &._#{$name} {
      background-color: map-get($value, base);
      color: map-get($value, contrast);
    }

    &._outline._#{$name},
    &._clear._#{$name} {
      background: transparent;
      color: map-get($value, base);
    }

    &._outline._#{$name} {
      border-color: map-get($value, base);
    }
  }

  &._round {
    border-radius: 1000px;
  }

  &._small {
    padding: map-get($buttons, small-padding);
    height: map-get($buttons, small-height);
    border-radius: map-get($buttons, small-border-radius);
    font-size: map-get($buttons, small-font-size);
  }

  &._large {
    padding: map-get($buttons, large-padding);
    height: map-get($buttons, large-height);
    border-radius: map-get($buttons, large-border-radius);
    font-size: map-get($buttons, large-font-size);
  }

  ._start {
    margin-right: 5px;
    display: inline-block;
  }

  ._end {
    margin-left: 5px;
    display: inline-block;
  }

  &._disabled {
    opacity: .5;        
    pointer-events: none;
  }

  ._loading {
    margin-left: 5px;
  }

  &:hover {
    opacity: map-get($buttons, opacity-hover);
  }
}