* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html, body, #app, nav.nav, div.body {
  height: 100%;
}

#app {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

nav.nav {
  width: 220px;
  overflow-y: scroll;
  background-color: #f5f5f5;
}

nav.nav a {
  padding: .5rem 1rem;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}

nav.nav a.logo {
  font-weight: 600;
  text-align: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #fff;
}

nav.nav a:hover,
nav.nav a.active {
  color: #7AAAFF;
}

div.body {
  flex: 1;
  overflow-y: scroll;
  padding: 1rem;
}

h1,h2,h3,h4,h5,h6,strong,b {
  font-weight: 300;
}

h1,h2,h3 {
  margin-bottom: 1rem;
}

.page {
  min-height: 500px;
}

.docs-example,
.docs-api,
.docs-waring {
  position: relative;
  padding: 3em 1em 1em;
  margin: 1.5rem 0 0;
}

.docs-waring {
  color: #c41d7f;
}

.docs-example::before,
.docs-api::before,
.docs-waring::before {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  color: #aaa;
  font-size: smaller;
  font-weight: 500;
}

.docs-example::before {
  content: 'Example';
}

.docs-api::before {
  content: 'Api';
}

.docs-waring::before {
  content: 'Waring';
}

.docs-example::after,
.docs-api::after,
.docs-waring::after {
  clear: both;
  content: " ";
  display: table;
}

pre, code {
  background: #f5f5f5;
  border-radius: 0;
  border-color: #d8d8d8;
  margin: 0;
}

.docs-example + pre {
  border: 1px solid #d8d8d8;
  border-top: none;
  padding: 1em;
  margin-top: 0 !important;
  clear: both;
}

.docs-api table {
  border-collapse: collapse;
  min-width: 800px;
  text-align: left;
  border: 1px solid #f2f2f2;
}

.docs-api h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.docs-api table thead th {
  padding: 10px 20px;
  background-color: #f2f2f2;
}

.docs-api table tbody td {
  padding: 8px 20px;
  border-top: 1px solid #f2f2f2;
}

.docs-api table tbody td:nth-child(3) {
  color: #c41d7f;
}

.docs-api table tbody td:first-child {
  color: #003a8c;
}

.row-part {
  margin-bottom: 20px;
}

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash+jsx&plugins=autolinker */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;

   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: 1.5em 0;
   overflow: auto;
 }

 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #233239;
 }

 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }

 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }

 .token.punctuation {
   color: #f8f8f2;
 }

 .namespace {
   opacity: .7;
 }

 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #f92672;
 }

 .token.boolean,
 .token.number {
   color: #ae81ff;
 }

 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #a6e22e;
 }

 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #f8f8f2;
 }

 .token.atrule,
 .token.attr-value,
 .token.function {
   color: #e6db74;
 }

 .token.keyword {
   color: #66d9ef;
 }

 .token.regex,
 .token.important {
   color: #fd971f;
 }

 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }

 .token.entity {
   cursor: help;
 }

 .token a {
   color: inherit;
 }

code .tag {
  font-size: inherit;
  padding: 0;
  display: inherit;
}

.bg-docs-transparent-grid {
  background: url(./transparent.svg);
}