.crude-loading {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;

  &._spin {
    border: .2em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    animation: 1s loader-spin linear infinite;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: inherit;
      height: inherit;
      position: absolute;
      top: -.2em;
      left: -.2em;
      border: .2em solid currentcolor;
      border-radius: 50%;
      opacity: .5;
    }
  }

  &._bubble {
    display: inline-block;
    margin-left: 5px;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
    position: relative;
    border: 0 solid transparent;
    border-radius: 50%;

    &:before,
    &:after {
      content: '';
      border: .2em solid currentcolor;
      border-radius: 50%;
      width: inherit;
      height: inherit;
      position: absolute;
      top: -.2em;
      left: 0;
      animation: loader-bubble 1s linear infinite;
      opacity: 0;
    }
    &:before {
      animation-delay: 1s;
    }
    &:after {
      animation-delay: .5s;
    }
  }


  &._ball,
  &._ball:before,
  &._ball:after {
    border-radius: 50%;
    animation-fill-mode: both;
    animation: loader-ball 1.8s infinite ease-in-out;
  }
  &._ball {
    color: currentcolor;
    position: relative;
    transform: translateZ(0);
    animation-delay: -0.16s;
    top: -1em;
    margin-left: .5em;
    margin-right: .5em;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: inherit;
      height: inherit;
    }
    &:before {
      right: 80%;
      animation-delay: -0.32s;
    }
    &:after {
      left: 80%;
    }
  }

  &._bar {
    background: currentcolor;
    position: relative;
    animation: loader-bar 1s ease-in-out infinite;
    animation-delay: 0.4s;
    width: .25em;
    height: .5em;
    margin-left: .5em;
    margin-right: .5em;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      background: inherit;
      animation: inherit;
    }
    &:before {
      right: .5em;
      animation-delay: 0.2s;
    }
    &:after {
      left: .5em;
      animation-delay: 0.6s;
    }
  }

  &._square {
    background-color: currentcolor;
    animation: loader-square 1.2s infinite ease-in-out;
  }

  &._inlace {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      animation: 1s loader-inlace linear infinite;
    }
    &:before {
      transform: rotateX(70deg);
    }
    &:after {
      transform: rotateY(70deg);
      animation-delay: .4s;
    }
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-bubble {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader-ball {
  0%, 80%, 100% {
    box-shadow: 0 1em 0 -1em;
  }
  40% {
    box-shadow: 0 1em 0 -.2em;
  }
}

@keyframes loader-bar {
  0%, 100% {
    box-shadow: 0 0 0 currentcolor, 0 0 0 currentcolor;
  }
  50% {
    box-shadow: 0 -.25em 0 currentcolor, 0 .25em 0 currentcolor;
  }
}

@keyframes loader-square {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes loader-inlace {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}