@import './normalize.scss';
@import './mixins.scss';
@import './vars.scss';
@import './grid.scss';

/**
 * reset
 * ========================
 */

[class*="crude-"] {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after, {
    box-sizing: inherit;
  }
}

._fix {
  @include clearfix();
}