$rate-animate-transition: all 0.2 cubic-bezier(0.645, 0.045, 0.355, 1);
$rate-hover-transform: scale(1.2);

.crude-rate-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  float: left;
  div {
    display: inline-block;
    &:first-child {
      position: absolute;
      left: 0;
    }
    &:last-child {
      position: absolute;
      left: 0;
      overflow: hidden;
    }
  }
}

.crude-rate._animate .crude-rate-item div {
  transition: $rate-animate-transition;
  cursor: pointer;
  &:hover {
    transform: $rate-hover-transform;
  }
}