@import '../../style/var.scss';

$modals: (
  z-index: $z-index-modal,
  padding: 20px,
  mask-color: rgba(0, 0, 0, 0.1),
  mask-color-activated: rgba(0, 0, 0, 0.3),
  background: #fff,
  head-color: $dark,
  head-font-weight: 500,
  head-font-size: 16px,
  close-opacity-hover: .8,
  bd-padding: 20px 0,
) !default;

.crude-modal {
  position: fixed;
  z-index: -1;
  visibility: hidden;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: background-color 200ms linear;

  background: map-get($modals, mask-color);
  
  &._visible {
    visibility: visible;
    z-index: map-get($modals, z-index);
    background: map-get($modals, mask-color-activated);
  }

  ._box {
    position: relative;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    margin: 0 10px;
    padding: map-get($modals, padding);
    background: map-get($modals, background);
    animation-name: modal-box-scale;
    animation-duration: .2s;

    ._hd {
      text-align: center;
      position: relative;
      line-height: 1.5;
      font-weight: map-get($modals, head-font-weight);
      font-size: map-get($modals, head-font-size);
      color: map-get($modals, head-color);

      ._close {
        position: absolute;
        right: 0;
        top: 0;
        height: map-get($modals, head-height);
        width: map-get($modals, head-height);
        cursor: pointer;
        &:hover {
          opacity: map-get($modals, close-opacity-hover);
        }
      }
    }

    ._bd {
      padding: map-get($modals, bd-padding);
    }

    ._ft {
      text-align: right;
    }
  }
}

@keyframes modal-box-scale {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}