// Global Color Functions
@import "./mixins";

// Default Theme
@import "./theme.scss";

// Default General
// --------------------------------------------------
$font-family-base:                  sans-serif !default;

// Z-Index
// --------------------------------------------------
$z-index-modal:                     32 !default;
$z-index-select:                    2 !default;
$z-index-toast:                     16 !default;
$z-index-toggle:                    8 !default;
$z-index-tooltip:                   2 !default;